@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===navbar menu starts==== */
.navMenu li{
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid red; */
}
.navMenu li:hover::after{
  content: "";
   position: absolute;
   bottom: -9px;
   left: -2;
   width: 110%;
   height: 5px;
   border-radius: 3px;
   background-color: #59C378;
}
.active::after{
  content: "";
   position: absolute;
   bottom: -9px;
   left: -2;
   width: 110%;
   height: 5px;
   border-radius: 3px;
   background-color: #59C378;
}
/* ===navbar menu starts==== */

.gradient-to-right{
  background: linear-gradient(to right, rgba(235,212,214,1) 1%,rgba(255,254,254,1) 37%,rgba(244,241,209,1) 63%,rgba(215,242,250,1) 100%);
}
.gradient-to-left{
  background: linear-gradient(to left, rgba(235,212,214,1) 1%,rgba(255,254,254,1) 37%,rgba(244,241,209,1) 63%,rgba(215,242,250,1) 100%);
}

.moving-icon{
animation-name: iconAnimation;
animation-duration: 3s;
animation-timing-function: linear;
animation-direction: alternate;
animation-iteration-count: infinite;
}
 @keyframes iconAnimation {

  from{
    transform: translate(-10%,-10%);
  }
  to{
    transform: translate(20%,20%);
  }
  
 }